.faculties-section {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
  position: relative;
}

.faculties-heading {
  font-size: 2.5rem;
  color: #264087;
  margin-bottom: 40px;
  font-weight: 700;
}

.faculties-slider-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.faculties-slider-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.faculties-grid {
  display: inline-flex;
  gap: 30px;
}

.faculties-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 220px;
  flex-shrink: 0;
  text-align: center;
  transition: transform 0.3s ease;
  border: 2px solid #264087;
}

.faculties-card:hover {
  transform: translateY(-5px);
}

.faculties-image {
  background-color: #264087;
  width: 170px;
  height: 170px;
  object-fit:contain;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid #264087;
}

.faculties-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin: 10px 0 5px;
}

.faculties-position {
  font-weight: 600;
  font-size: 1rem;
  color: #555;
}

/* Buttons */
.product-carousel {
  position: relative;
}

.pre-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #264087;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.pre-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.pre-btn:hover,
.next-btn:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .faculties-card {
    width: 180px;
  }

  .faculties-image {
    width: 80px;
    height: 80px;
  }

  .faculties-heading {
    font-size: 2rem;
  }

  .pre-btn,
  .next-btn {
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}
